details
{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslateblue;
}
body
{
    background-color: whitesmoke;
}
.an{
    font-size: x-large;
    text-decoration: none;
    background-color: teal;
    padding: 10px;
    margin-left: 15px;
    color: aliceblue;
    border-radius: 6pt;
}
.an:hover{
    color: teal;
    background-color: whitesmoke;
    transition: .2s ;
    box-shadow: 2px 2px 15px darkcyan;
}
h2
{
    text-align: center;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:teal;
}
