* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(171, 135, 78);
}

nav {
    text-align: right;
    margin-left: 600px;
}

nav ul {
    align-items: center;
}

nav ul li {
    display: inline-block;
}
.links {
    color: rgb(253 255 217);
    text-shadow: 2px 2px 10px rgb(0 0 0);
    display: inline-block;
    padding: 1px 16px;
    line-height: 10px;
    font-size: 25px;
    width: 80px;
    font-family: sans-serif;
    transition: .2s;
}

nav ul li a {
    color: rgb(253, 255, 217);
    text-shadow: 2px 2px 10px rgb(74, 73, 68);
    /* display: inline-block; */
    padding: 10px 1px;
    line-height: 1px;
    font-size: 25px;
    width: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .1s;
}

nav ul li a:hover {
    text-shadow: 2px 2px 10px rgb(250, 212, 0);
    font-size: x-large;
}

nav ul li a.active {
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.938);
    font-size: x-large;
}

nav ul ul {
    position:fixed;
    opacity: 0;
}

nav ul li:hover>ul {
    top: 80px;
    opacity: 10;
    /* visibility: visible; */
    /* transition: .1s linear; */
    border: px solid rgb(87, 87, 87);
    background-color:rgb(151 93 34);
    width: 115px;
    border-radius: 3pt;
}

nav ul ul li {
    width: 3px;
    display:flow-root;
    position:relative;
}

nav ul ul li a {
    line-height: 17px;
}

nav ul ul ul {
    border-top: 2px black;
}

nav ul ul ul li {
    position: relative;
    top: 10px;
}

nav ul ul li a i {
    margin-left: 50px;
}

h1 {
    border-radius: 2px;
    display: flex;
    text-align: right;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(151 93 34);
    padding: 13px 20px;
    font-weight: bolder;
    color: rgb(255 250 221);
    text-shadow: 2px 2px 10px #594a4a;
    box-shadow: 0 2px 15px rgb(224 227 191 / 94%);
    justify-content: space-evenly;
}
div {
    text-align: left;
    margin: -1px;
    box-shadow: 2px 2px 15px rgb(136 136 136);
}

.dabba {
    text-align: left;
    margin: 8px;
    background-color: rgba(230, 213, 170, 0.911);
}

img {
    width: 400px;
    height: 400px;
    margin: 20px;
}

.html {
    font-size: x-large;
    position:absolute;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0;
    margin-top: 90px;
    text-align: left;
}

.intro {
    font-size: xx-large;
    text-align: center;
    background-repeat: no-repeat;
    padding: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:700;
    color: rgb(19, 11, 2);
    background-image: url(5c27f143-2cfd-41a6-bf7e-7786069fae17.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.anch {
    margin-left: 25%;
    font-size: 50px;
    padding: 1px;
    color: rgb(151 93 34);
}

.anch:hover {
    transition: .2s linear;
    color: rgb(111, 95, 50);
}

#down {
    font-size: 50px;
    color:rgb(151 93 34);
    text-shadow: 0px 2px 5px rgb(206, 180, 94);
}

#down:hover {
    color: rgb(88, 87, 87);
    text-shadow: 0px 2px 5px rgb(186, 186, 190);
}

.about {
    text-align: center;
    background-color: rgb(206,180,94);
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    width: 20pc;
    align-items: center;

}

.try {
    background-color: rgb(151 93 34);
    /* border-radius: 2pc; */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 9px;
    color: aliceblue;
    font-size: xx-large;
    font-weight: bolder;
}

.try:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s;
    font-size: xx-large;
}

.abo {
    background-color: rgba(230, 213, 170, 0.911);
    color: rgb(151 93 34);
}

.era {
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
    margin: 20px;
    margin-top: 9px;
}

.open {
    position: relative;
    text-align: center;
    color: rgb(151 93 34);
    font-size: x-large;
    font-weight: bolder;
    margin-left: 1100;
    top: -250;
}

.social {
    text-decoration: none;
    color:rgb(151 93 34);
    margin-left: 50px;
    font-size: 36;
    margin-bottom: -10px;
}

dir {
    text-align: center;
}

.social:hover {
    text-shadow: 2px 2px 15px rgb(100, 101, 101);
    font-size: 40px;
}

ol {
    margin-top: 90px;
    list-style: decimal-leading-zero;
}

li {
    font-size: xx-large;
    padding: 10px;
}

.program {
    background-color: rgb(40, 121, 137);
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    margin: 15px;
    padding: 10px;
    font-size: x-large;
}
.mysql
{
    background-color: rgba(232, 229, 221, 0.852);
    padding: 70px;
    color: rgb(72, 47, 21);
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    align-items: center;
    display: table-cell;
    margin: 30px;
}
